.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.Blog ul{
    list-style: none;
    margin: none;
    padding: none;
    text-align: center;
}
.Blog li{
    display: inline-block;
    margin: 20px;
}
.Blog a {
    text-decoration: none;
    color: #000;
}
.Blog a:hover,
.Blog a:active{
    color: #fa923f;
}